.button {
  border-radius: $borderRadius;
  border: none;

  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: $accent-color;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  padding: 10px 23px;
  @include transition(color);
  @include transition(background-color);
  @include transition(box-shadow);
  
  &:hover,
  &:focus {
    background-color: $hover-btn-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

