.hero-section {
  text-align: center;
  background-color: #c4c4c4;
  padding: 118px 0;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/bgimg/header-img480.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../../images/bgimg/header-img480@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
  }
  &__button {
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    background-image: url(../../images/bgimg/header-img768.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../../images/bgimg/header-img768@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    background-image: url(../../images/bgimg/header-img1600.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../../images/bgimg/header-img1600@2x.jpg);
    }
  }
}

.hero-section__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: $white-text-color;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}
