// .page-header__container {
//   background-color: red;
// }

.page-header {
  border-bottom: 1px solid #ececec;

  &__menu {
    @extend %list;
  }
  &__container {
    min-height: 80px;
    // display: flex;
    // align-items: center;
  }

  // position: fixed;
  //   top: 0;
  //   left: 0;
  // width: 100%;
  background-color: $bg-white-color;
  //   z-index: 1;
  //   &__menu {
  //     display: flex;
  //     align-items: center;
  //   }
  //   &__list {
  //     @extend %list;
  //     display: flex;
  //     margin-left: 93px;
  //   }
  //   &__item:not(:last-child) {
  //     margin-right: 50px;
  //   }
}

.menu {
  // display: flex;
  // padding: 0;
  // margin: 0;
  // list-style: none;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-mobile {
  @extend %list;
  &__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    align-items: center;
    @extend %list;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  flex-grow: 1;
}
.menu-mobile__item {
  position: relative;
  &:not(:last-child):after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.button__menu {
  // height: 40px;
  // width: 40px;
  //   display: flex;
  // align-items: center;
  // justify-content: center;

  //   margin: 0;
  //   padding: 0;
  //   background-color: transparent;
  //   cursor: pointer;
  //   border: none;
  //   border-radius: 50%;
  //   outline: none;
}

@media screen and (min-width: 768px) {
  .button__menu {
    display: none;
  }
}

.button__menu:hover,
.button__menu:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 84px 48px 40px;
  background-color: $bg-white-color;
  z-index: 10;

  transform: translateX(100%);
  @include transition(transform);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .button__menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: green;
}

.menu__link {
  text-decoration: none;
  @include transition(color);

  display: block;
  //   padding-top: 32px;
  //   padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--mobile {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &--current {
    color: $accent-color;
    // position: relative;
  }
  //   &--current::after {
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 100%;
  //     height: 4px;
  //     background-color: $accent-color;
  //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //     border-radius: 2px;
}
.menu__item--mobile:not(:last-child) {
  margin-bottom: 32px;
}
.logo {
  &--black {
    color: $black-text-color;
  }
}

.contacts {
  // display: flex;
  // margin-left: auto;
  // gap: $card-gap;
  @extend %list;

  &__icon--envelope,
  &__icon--smartphone {
    margin-right: 10px;
    fill: currentColor;
  }
}
.contacts__link {
  display: block;
  @include transition(color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // display: flex;
  // align-items: center;
  // &:hover,
  // &:focus {
  //   color: $accent-color;
  // }
  &--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  &--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-bottom: 32px;
  }
}
.menu-mobile__contacts {
  margin-bottom: 64px;
}
// .menu__button {
//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: transparent;
// }
// .menu__icon-close {
//   display: none;
// }

// .menu__button.is-open {
//   .menu__icon-close {
//     display: block;
//   }
//   .menu__icon-menu {
//     display: none;
//   }
// }
