.page-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-white-color;
  z-index: 1;
  &__nav {
    position: relative;
    justify-content: space-between;
    min-height: 60px;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
      min-height: 80px;
    }
  }

  &__menu {
    @extend %list;
    display: flex;
    align-items: center;
    margin-left: 88px;
    gap: 50px;
  }

  &__contacts {
    margin-left: auto;
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }
}
.logo--black {
  color: $black-text-color;
}
.button-menu {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
  // &:hover,
  // &:focus {
  //   background-color: rgba(0, 0, 0, 0.1);
  // }
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    @include transition(color);
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $title-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__link--current {
    color: $accent-color;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }
  }
}
.contacts {
  @extend %list;
  &__item:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
  &__icon--envelope,
  &__icon--smartphone {
    margin-right: 8px;
    fill: currentColor;
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    gap: $card-gap;
  }
}
.contacts__link {
  @include transition(color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  background-color: $bg-white-color;
  z-index: 10;

  transform: translateX(100%);
  @include transition(transform);
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 25px;
}
.button-menu--mobile {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.mobile-menu {
  &__container {
    @extend %list;
    flex-grow: 1;
  }

  &__item--mobile:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__link--current {
    color: $accent-color;
  }
}
.mobile-contacts {
  margin-bottom: 64px;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    @include transition(color);
    text-decoration: none;
    color: $primary-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;

  }

  &__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.mobile-socials {
  display: block;
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    position: relative;
    &:not(:last-child):after {
      content: "";
      display: block;
      position: absolute;
      right: -10px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}
